{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@src": "./src/",
          "@router": "./src/router/",
          "@policies": "./src/policies/",
          "@utils": "./src/utils/",
          "@functions": "./src/functions/",
          "@config": "./src/config/",
          "@api/v1": "./src/api/v1/",
          "@api/v2": "./src/api/v2/"
        }
      }
    ]
  ],
  "ignore": ["node_modules/*"]
}
